<div class="col-md-6 offset-md-1 form-container">
    <form (ngSubmit)="addDoctor(addDoctorForm)" #addDoctorForm="ngForm">

        <table class="table table-borderless col-md-10">
            <tr>
                <td class="align-middle">
                    <label for="name">Enter Name</label>
                </td>
                <td>
                    <input type="text" class="form-control" id="name" name="name" ngModel #name="ngModel" required>
                </td>
            </tr>

            <tr>
                <td class="align-middle">
                    <label for="specialization">Enter Specialization</label>
                </td>
                <td>
                    <input type="text" class="form-control" id="specialization" name="specialization" ngModel
                        #specialization="ngModel" required>
                </td>
            </tr>

            <tr>
                <td class="align-middle">
                    <label for="designation">Enter Designation</label>
                </td>
                <td>
                    <input type="text" class="form-control" id="designation" name="designation" ngModel
                        #designation="ngModel" required>
                </td>
            </tr>

            <tr>
                <td class="align-middle">
                    <label for="consultationFee">Enter Consultation Fee</label>
                </td>
                <td>
                    <input type="text" class="form-control" id="consultationFee" name="consultationFee" ngModel
                        #consultationFee="ngModel" required>
                </td>
            </tr>

            <tr>
                <td class="align-middle">
                    <label for="username">Enter username</label>
                </td>
                <td>
                    <input class="form-control" type="text" id="username" name="username" ngModel #username="ngModel"
                        required>
                </td>
            </tr>

            <tr>
                <td class="align-middle">
                    <label for="password">Enter Password</label>
                </td>
                <td>
                    <input type="text" class="form-control" id="password" name="password" ngModel #password="ngModel"
                        autocomplete="off" required>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="text-right">
                    <button class="btn btn-lg btn-primary" type="submit"
                        [disabled]="!addDoctorForm.valid || submitted==true">Add Doctor</button>
                    <img *ngIf="loading==true" src="../../../assets/loading.gif">
                </td>
            </tr>
        </table>

    </form>
</div>